@import '../../../../_variables';

.cart-icon-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 33px;

  .fa-shopping-cart {
    font-size: 1.75em;
    color: #000;
    &:hover {
      transition-duration: 0.3s;
      font-size: 1.8125em;
      cursor: pointer;
      color: #000;
    }
  }

  .itemsInCart {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: white;
    border: {
      width: 2px;
      style: solid;
      color: black;
      radius: 50%;
    }
    color: #ff4444;
    font-size: 0.75em;
    text-align: center;
  }

  @media (min-width: 992px) {
    margin-right: 0;
  }
}
