.cart-icon-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 28px;

  .cart-icon {
    max-width: 100%;
    height: auto;
    &:hover {
      // TODO: replace png with icon or add svg
      // transform: scale(1.025); 
      // transition-duration: 0.3s;
      cursor: pointer;
    }
  }

  @media (min-width: 992px) {
    margin-right: 0;
  }
}
