@import '../../_variables';

.product-pagination {
  font-size: 1.375em;
  letter-spacing: 1px;
  line-height: 1.6875;
  color: $color-brand-gray;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;

    li {
      display: inline-block;
      padding-left: 13px;
      padding-right: 13px;
      text-align: center;
      &.active {
        background-color: $color-brand-gray-light;
      }
      &:hover {
        cursor: pointer;
        color: #000;
      }
    }

  }
}
