@import '../../_variables';

.product-pagination {
  font-size: 1.375em;
  letter-spacing: 1px;
  line-height: 1.6875;
  color: $color-brand-gray;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    @media (max-width: 575.98px) {
      text-align: center;
    }

    li {
      display: inline-block;
      min-width: 37px;
      text-align: center;
      &.active {
        background-color: $color-brand-gray-light;
      }
      &:hover {
        cursor: pointer;
        color: #000;
      } 
    }

    .hidden {
        visibility: hidden;
    }
  }
}
