@import '../../../_variables';

.section--footer .container .row {
  display: flex;
  align-items: center;
  min-height: 116px;
  
  .bottom-menu {
    display: flex;
    justify-content: flex-end;

    nav a {
      text-transform:uppercase;
      text-decoration: none;
      font-size: 1em;
      line-height: 1.625;
      padding-left: 20px;
      padding-right: 20px;
      color: #000;
      &:visited {
        color: #000;
      }
      &:hover {
        color: $color-brand-gray;
      }

      @media (max-width: 575.98px) {
        display: block;
      }
    }

    @media (max-width: 767.98px) {
      justify-content: flex-start;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  .rights-info {
    color: $color-brand-gray;
    @media (max-width: 767.98px) {
      order: 2;
      
      div {
        padding-left: 35px;

        @media (max-width: 767.98px) {
          padding-left: 20px;
        }
      }
    }
  }
}
