.cart-header > h2 {
  font-size: 1.75em;
  letter-spacing: 2px;
  line-height: 1.6875;
  font-weight: 400;
  color: #000;
}

.cart-photo-product {
  height: 268px;
  max-width: 100%;
  margin: 0 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
