@import '../../_variables';

@mixin product-box-header {
  font-size: 1.125em;
  letter-spacing: 0.0625em;
  line-height: 1.6875;
  padding: 31px;
}

.product-box {
  height: 502px;
  margin-bottom: 30px;
  background-color: $color-brand-gray-light;  

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .top-info {
    @include product-box-header;
    display: flex;
    justify-content: space-between;

    .fa-heart {
      visibility:hidden
    }
  }

  .photo-product {
    height: 268px;
    max-width: 100%;
    margin: 0 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bottom-info {
    @include product-box-header;
    display: flex;
    justify-content: space-between;

    .product-price {
      color: $color-brand-gray-dark;
    }

    .addToCart {
      visibility:hidden;
      text-align: center;
      & > span {
        display: block;
      }
    }
  }

  &.active {
    .fa-heart {
      visibility: visible;
    }

    .addToCart {
      visibility: visible;
    }

    i {
      &:hover {
        transition-duration: 0.3s;
        font-size: 110%;
        cursor: pointer;
      }
    }
  }
}
