@import '../../../_variables';

.section--topnav .container .row {
  display: flex;
  align-items: flex-end;
  height: 91px;
}

.topnav-nav {
  @media (max-width: 991.98px) {
    order: 5;
    display: flex;
    justify-content: center;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-width: 991.98px) {
      flex-direction: column;
      // margin-left: auto;
      // margin-right: auto;
    }
  }
}

.topnav-link {
  text-transform:uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.375em;
  line-height: 1.625;
  padding-left: 20px;
  padding-right: 20px;
  color: $color-brand-gray;
  &:visited {
    color: $color-brand-gray;
  }
  &:hover {
    color: #000;
  }
  &.active {
    color: #000;
  }
}
